<template>
    <div class="input-qr-code">
        <div>
            <textarea class="mint-cell-text" v-model="qrCode" rows="10">
            </textarea>
            <button class="mint-button mb-0 mint-button--primary mint-button--normal" v-on:click="addQrCode">Добавить qrCode</button>
            <div :class="status">{{message}}</div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "input-qrcode",
        data() {
            return {
                qrCode: "",
                message: "",
                status: ""
            }
        },
        computed: {
            hideMessage: function() {
                return true;//this.message === "";
            }
        },
        props: ['url'],
        methods: {
            addQrCode() {
                this.$emit('load-json', JSON.parse(this.qrCode))
            }
        }
    }
</script>

<style scoped>
    .input-qr-code {
        max-width: 500px;
        width: 100%;
        margin: auto;
    }
    .input-qr-code textarea, .input-qr-code button {
        width: 100%;
    }
    .input-qr-code .error {
        color:white;
        background: lightcoral;
        border: 2px solid darkred;
        padding: 0.2rem;
    }
    .input-qr-code .OK {
        background: lightgreen;
        border: 2px solid darkgreen;
        padding: 0.2rem;
    }
</style>